{% extends 'base.html.twig' %}

{% block body %}
<h1>Voer snuffelid en datum in</h1>
    <form action="/" method="post">
        Snuffel ID (3567 ...):<input type="text" id="sniffer" name="sniffer"><br>
        Van (YYYY-mm-dd):<input type="text" id="from" name="from"><br>
        Tot (YYYY-mm-dd):<input type="text" id="to" name="to"><br>
        <input type="submit" value="Verstuur">
    </form>
{% endblock %}