{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-xl font-bold">Aantal ingelezen punten {{ measurements }}</h1>
<h1 class="text-xl font-bold">Reeds gevonden punten {{ foundMeasurements }}</h1>

{% endblock %}
